*{margin: 0; padding: 0;}

body{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    background-color: #c0c0c0;
    color:#ffffff;
    margin: 0px 0px 30px 0px;
  }

  .menu-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #333;
  }

.menu-nav li{
    padding: 5px 10px; 
    display: inline-block;
    border: 1px solid #350101;
    margin: 1px;
    background: rgb(128, 145, 134);
  }

  a{
    text-decoration: none;
    color: #000;
  }

  li a:hover{
    border: 10px solid #350101;
    color: #fff;
    background: #400080;
    }